{% extends "base.html" %}
{% block content %}
<h1>Nuovo membro</h1>
<form method="post" class="row g-3">
  <div class="col-md-6">
    <label class="form-label">Nome</label>
    <input class="form-control" name="name" required>
  </div>
  <div class="col-md-6">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" name="email">
  </div>
  <div class="col-md-6">
    <label class="form-label">Telefono</label>
    <input class="form-control" name="phone">
  </div>
  <div class="col-12">
    <button class="btn btn-primary">Salva</button>
    <a class="btn btn-outline-secondary" href="{{ url_for('admin') }}">Annulla</a>
  </div>
</form>
{% endblock %}
